body {

  background-color: teal;
  background-image: url(download.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  

}

h1{
  color: blue;
  background-color: rgb(98, 98, 98);
  text-align: center;
  height: 100px;
  line-height: 100px;
}
input {
  display: block;
  margin-bottom: 20px;
}
